:root {
    --light-color:#ffffff;
    --red-color:#ff4141;
    --black-color:#121212;
  }
 .home{
      margin: 0px;
      padding: 0px;
      width: 100%;
      height: 100vh;
      padding-top: 8rem; 
      background-image: url(assets/450380-PFB291-831-01.jpeg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    
  }
  .col-home{
      height: 36rem;
      padding-top: 10rem; 
     
      
  }
  .col-home::before{
      content: "";
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      border-radius: 2rem;
      background-image: linear-gradient(#ff4141 ,#383aad) ;
      opacity: 90%;
  }
  .em-h1{
      position: relative;
      bottom: 5rem;
      color: var(--light-color);
      font-weight: bolder;
      font-size: 2.5rem;
  }

  .btn{
      color: var(--red-color);
      background-color: var(--light-color);
      font-size: small;
      width: 10rem;
      font-weight: bolder;
      position:relative;
      z-index: 1;


  }
  
  .icon{
      width: 3.2rem;
      height: 3.2rem;
      color: var(--red-color);
      background-color: var(--light-color);
      border-radius: 1rem;
      position: relative;
      top: 1.3rem;
      left: 1rem;
      z-index: 2;

  }
  .or{
      position: relative;
      top: 1.2rem;
      font-size: 1rem;
      color: var(--light-color);
      z-index: 2;
  }
  .login{
      color: var(--light-color);
     position: relative;
     top: 1rem;
     left: 1rem;
  }