
.admin-page-table table{
    
    width: 100%;
}
.admin-page-table{
    overflow: auto;
    height: min-content;
}

/* MEDIA QUERY */

@media (max-width: 1110px) {
   
    .admin-page-table{
        width:60vw;
        overflow: auto;

        height: 40vh;
    }
    
}