:root {
    --light-color:#ffffff;
    --red-color:#ff4141;
    --black-color:#121212;
  }
  .contact{
      padding-top: 1.5rem;
  }
  .con-row{
      margin-left: auto;
      margin-right: auto;
  }
  .con-left{
      
      background-color: var(--red-color);
  }
  .con-icon-div{
      position: relative;
      top: 1.5rem;
      width: 1.5rem;
      height: 1.5rem;
      background-color: var(--light-color);
      border-radius: 1rem;
      
  }
  .con-icon{
      position: relative;
      left: .25rem;
      top: .1rem;
      color: var(--red-color);
  }
  .con-right-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 22rem;
      height: 20rem;
      border-radius: 1rem;
      box-shadow:  5px 5px 10px #c2c2c2,
                   -5px -5px 10px #ececec;
  }
  .con-in{
      border: none;
      border:  solid 1px var(--red-color);  
      margin-top: 1rem;
      
      outline: none;
      
  }
  
  @media only screen and (min-width: 768px) {
    
    .con-left{
       height: 81.3vh;
    }
    
    .con-right-container{
        width: calc(90% + 1vw + 1vh);
        height: 30rem;
        position: relative;
        top: calc(10% + 1vw + 1vh);
    }
    .con-p{
        margin-top: 4rem;
        margin-bottom: 5rem;
    }
    .con-left-info-des{
        margin-top: 2rem;
    }
    .con-title-{
        margin-top: 5rem;
    }
    .con-title{
        margin-top: 2rem;
        margin-bottom: 4rem;
    }
    
    

}