.body{
   
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display:flex;
    justify-content: center;
    align-items: center;
}

.otp-box{
    background-color:rgb(255, 255, 255);
    width: 35vw;
    color: red;
    height: 50vh;
    border-radius:0.9rem;
    display: flex;
    align-items: center;
    flex-direction: column; box-shadow: 5px 5px 5px 5px #f8d3d3;
}

.otp-button{
  
    display: flex;
    justify-content: center;
}
:placeholder-shown{
    font-size:medium;
    font-weight: 500;
   
}